<a href="#" (click)="goBack()">back</a>

{{selectedRow.NAME}}

<div class="row">
  <div class="col-lg-5">
    <ul>
      <!--id-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">id</label></div>
          <div class="col-lg-9">{{selectedRow.id}}</div>
        </div>
      </li>
      <!--name-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">Name</label></div>
          <div class="col-lg-9">
            <input type="text" [maxlength]="100" class="field-value" [(ngModel)]="selectedRow.name">
          </div>
        </div>
      </li>
      <!--title-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">Title</label></div>
          <div class="col-lg-9">
            <input type="text" [maxlength]="100" class="field-value" [(ngModel)]="selectedRow.title">
          </div>
        </div>
      </li>
      <!--location-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">location</label></div>
          <div class="col-lg-9">{{selectedRow.location}}</div>
        </div>
      </li>
      <!--phone-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">phone</label></div>
          <div class="col-lg-9">{{selectedRow.phone}} {{selectedRow.phoneSummary}}</div>
        </div>
      </li>
      <!--email1-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">email 1</label></div>
          <div class="col-lg-9">{{selectedRow.email}}</div>
        </div>
      </li>
      <!--email2-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">email 2</label></div>
          <div class="col-lg-9">
            <input type="text" [maxlength]="100" class="field-value" [(ngModel)]="selectedRow.email2">
          </div>
        </div>
      </li>
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">Training</label></div>
          <div class="col-lg-9">
      <training (trEmitter)="setToContact($event)" [contact]="row$"></training>
          </div>
        </div>
      </li>
      <!--linkedin-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">linkedin</label></div>
          <div class="col-lg-9"><a href="http://www.linkedin.com{{selectedRow.link}}" target="_blank">{{selectedRow.link}}</a></div>
        </div>
      </li>
      <!--summary-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">summary</label></div>
          <div class="col-lg-9">{{selectedRow.summary}}</div>
        </div>
      </li>
      <!--create date-->
      <li>
        <div class="row  field-row">
          <div class="col-lg-3 text-right"><label class="field-label">create date</label></div>
          <div class="col-lg-9">{{selectedRow.createDate | date:'dd-MM-yyyy'}}</div>
        </div>
      </li>
      <!--update date-->
      <li>
        <div class="row field-row">
          <div class="col-lg-3 text-right"><label class="field-label">update date</label></div>
          <div class="col-lg-9">{{selectedRow.updateDate | date:'dd-MM-yyyy'}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-lg-7 ">

    <form #followupForm="ngForm" (ngSubmit)="createFollowup(newFollowup);followupForm.reset();">

      <div class="form-group col-lg-4">
        <label for="desc">Description</label>
        <textarea type="text" [(ngModel)]="newFollowup.description" id="desc" name="desc" #desc="ngModel" class="form-control"></textarea>
      </div>
      <div class="form-group col-lg-3">
        <label for="status">Status</label>

        <select [(ngModel)]="newFollowup.status" name="status" id="status" #status="ngModel" required class="form-control">
          <option *ngFor="let status of statuses" [ngValue]="status">{{status.name}}</option>
        </select>
        <div *ngIf="status.errors && (status.dirty || status.touched)"
             class="alert alert-danger">
          <div [hidden]="!status.errors.required">
            Status is required
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <label for="dueDate">Due date</label>

        <my-date-picker [(ngModel)]="newFollowup.dueDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"
                        id="dueDate" name="dueDate" #dueDate="ngModel"></my-date-picker>
        <!--<input type="date" [(ngModel)]="newFollowup.dueDate" name="dueDate2">-->
      </div>
      <div class="col-lg-2 form-group">
        <label> </label>
        <button type="submit" class="btn btn-default form-control" [disabled]="!followupForm.form.valid">Submit</button>
      </div>
      <!--<td class="col-lg-2"><input type="submit" (click)="createFollowup(newFollowup)"></td>-->
    </form>


    <div *ngIf="selectedRow.followups && selectedRow.followups.length">
      <table class="table">
        <th class="col-lg-1">id</th>
        <th class="col-lg-5">description</th>
        <th class="col-lg-2">status</th>
        <th class="col-lg-2">due date</th>
        <th class="col-lg-2">create date</th>

        <tr *ngFor="let followup of selectedRow.followups | orderBy:'dueDate':false">
          <td class="col-lg-1">{{followup.id}}</td>
          <td class="col-lg-5"><p>{{followup.description}}</p></td>
          <td class="col-lg-2">{{followup.status.name}}</td>
          <td class="col-lg-2">{{followup.dueDate | date:"dd-MM-yyyy"}}</td>
          <td class="col-lg-2">{{followup.createDate | date:"dd-MM-yyyy"}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div>
  <input type="button" class="btn" value="Save" (click)="save()">
  <input type="button" class="link" value="Cancel" (click)="goBack()">
</div>

